{% extends "base.html" %}

{% block content %}
<div class="container">
    <h1 class="text-center my-5">Summed Total Result</h1>
    <form method="POST" action="{{ url_for('display') }}">
        <div class="form-group">
            <label for="lga_name">Select Local Government:</label>
            <select class="form-control" id="lga_name" name="lga_name">
                {% for lga in lgas %}
                <option value="{{ lga[0] }}">{{ lga[0] }}</option>
                {% endfor %}
            </select>
        </div>
        <button type="submit" class="btn btn-primary">View Results</button>
    </form>
</div>
{% endblock %}
